<form [formGroup]="importForm" (ngSubmit)="confirmImport()">
  <div class="modal-header">
    <h4 class="modal-title" data-cy="accreditationImportDialogHeading" sigmaTranslate="sigmaEventsApp.accreditation.home.upload">Import</h4>
    <button type="button" class="btn-close" data-dismiss="modal" aria-hidden="true" (click)="cancel()">&times;</button>
  </div>

  <div class="modal-body">
    <sigma-alert-error></sigma-alert-error>
    <button (click)="downloadModelFile()">Download Model File</button>

    <input type="file" (change)="handleFileInput($event)" accept=".xlsx,.xls" />
    <button (click)="loadData()">Load Data</button>

    <div *ngIf="errorsMap.size > 0">
      <table>
        <thead>
          <tr>
            <th>Index</th>
            <th>First Name</th>
            <th>List Name</th>
            <th>Occupation</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let entry of errorsMap.entries()">
            <tr *ngIf="entry[1].hasErrors">
              <td>{{ entry[0] }}</td>
              <td>{{ entry[1].firstName }}</td>
              <td>{{ entry[1].lastName }}</td>
              <td>{{ entry[1].occupation }}</td>
              <td class="loaded-fail">{{ entry[1].errors }}</td>
            </tr>
            <tr *ngIf="!entry[1].hasErrors">
              <td>{{ entry[0] }}</td>
              <td>{{ entry[1].firstName }}</td>
              <td>{{ entry[1].lastName }}</td>
              <td>{{ entry[1].occupation }}</td>
              <td class="loaded-succes">{{ entry[1].errors }}</td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
      <fa-icon icon="ban"></fa-icon>&nbsp;<span sigmaTranslate="entity.action.cancel">Cancel</span>
    </button>

    <button
      id="sigma-confirm-import-accreditation"
      data-cy="entityConfirmImportButton"
      type="submit"
      class="btn btn-success"
      (click)="valider()"
    >
      <fa-icon icon="check"></fa-icon>&nbsp;<span sigmaTranslate="entity.action.validate">Validate</span>
    </button>
  </div>
</form>
