<form name="cameraForm" (ngSubmit)="confirmCapturePhoto()">
  <div class="modal-header">
    <h4 class="modal-title"><fa-icon icon="camera"></fa-icon></h4>

    <button type="button" class="btn-close" data-dismiss="modal" aria-hidden="true" (click)="cancel()">&times;</button>
  </div>

  <div class="modal-body">
    <sigma-alert-error></sigma-alert-error>
    <video #videoElement class="camera-video"></video>
    <div class="captureButtonContainer">
      <button type="button" id="sigma-confirm-capture-photo" (click)="this.capturePhoto()" class="btn btn-warning btn-circle btn-xl">
        <fa-icon icon="camera"></fa-icon>
      </button>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
      <fa-icon icon="ban"></fa-icon>&nbsp;<span sigmaTranslate="entity.action.cancel">Cancel</span>
    </button>

    <button id="sigma-confirm-validate-accreditation" data-cy="entityConfirmCapturePhoto" type="submit" class="btn btn-success">
      <fa-icon icon="check"></fa-icon>&nbsp;<span sigmaTranslate="entity.action.validate">Validate</span>
    </button>
  </div>
</form>
