<form name="cameraForm" (ngSubmit)="confirmCapturePhoto()">
  <div class="modal-header">
    <h4 class="modal-title"><fa-icon icon="camera"></fa-icon></h4>

    <button type="button" class="btn-close" data-dismiss="modal" aria-hidden="true" (click)="cancel()">&times;</button>
  </div>

  <div class="modal-body">
    <sigma-alert-error></sigma-alert-error>
    <div class="video-container" *ngIf="!error">
      <video [class.show]="!isCaptured" [class.hide]="isCaptured" #video id="video" [width]="WIDTH" [height]="HEIGHT" autoplay></video>
      <canvas [class.show]="isCaptured" [class.hide]="!isCaptured" #canvas id="canvas" [width]="WIDTH" [height]="HEIGHT"></canvas>
    </div>

    <div class="snap-container">
      <button
        class="btn btn-primary"
        *ngIf="!isCaptured"
        (click)="capture()"
        sigmaTranslate="sigmaEventsApp.accreditation.camera.takePhoto"
      >
        Take Photo
      </button>
      <button
        class="btn btn-danger"
        *ngIf="isCaptured"
        (click)="removeCurrent()"
        sigmaTranslate="sigmaEventsApp.accreditation.camera.reTakePhoto"
      >
        Take Another
      </button>

      <div *ngIf="error" class="text-danger mt-4">{{ error }}. Please click refresh</div>
    </div>

    <ul class="list-unstyled">
      <li *ngFor="let src of captures; let idx = index" (click)="setPhoto(idx)">
        <img [src]="src" height="50" />
      </li>
    </ul>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
      <fa-icon icon="ban"></fa-icon>&nbsp;<span sigmaTranslate="entity.action.cancel">Cancel</span>
    </button>

    <button id="sigma-confirm-validate-accreditation" data-cy="entityConfirmCapturePhoto" type="submit" class="btn btn-success">
      <fa-icon icon="check"></fa-icon>&nbsp;<span sigmaTranslate="entity.action.validate">Validate</span>
    </button>
  </div>
</form>
