<div class="footer bg-dark py-4 mt-auto">
  <div class="container px-5">
    <div class="row align-items-center justify-content-between flex-column flex-sm-row">
      <div class="col-auto">
        <div class="m-0 text-secondary small">Copyright &copy; SigmaEvents 2023</div>
      </div>
      <div class="col-auto">
        <a class="link-secondary small" href="https://sigmaevents.ma/contact.html">Privacy</a>
        <span class="text-secondary mx-1">&nbsp;</span>
        <a class="link-secondary small" href="https://sigmaevents.ma/contact.html">Terms</a>
        <span class="text-secondary mx-1">&nbsp;</span>
        <a class="link-secondary small" href="https://sigmaevents.ma/contact.html">Contact</a>
      </div>
    </div>
  </div>
</div>
