<div>
  <h2 id="page-heading" data-cy="FonctionHeading">
    <span sigmaTranslate="sigmaEventsApp.fonction.home.title">Fonctions</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span sigmaTranslate="sigmaEventsApp.fonction.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-fonction-sig"
        [routerLink]="['/fonction-sig/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span sigmaTranslate="sigmaEventsApp.fonction.home.createLabel"> Create a new Fonction </span>
      </button>
    </div>
  </h2>

  <sigma-alert-error></sigma-alert-error>

  <sigma-alert></sigma-alert>

  <sigma-filter [filters]="filters"></sigma-filter>

  <div class="alert alert-warning" id="no-result" *ngIf="fonctions?.length === 0">
    <span sigmaTranslate="sigmaEventsApp.fonction.home.notFound">No Fonctions found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="fonctions && fonctions.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr sigmaSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" sigmaSortBy="fonctionId">
            <div class="d-flex">
              <span sigmaTranslate="sigmaEventsApp.fonction.fonctionId">Fonction Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" sigmaSortBy="fonctionName">
            <div class="d-flex">
              <span sigmaTranslate="sigmaEventsApp.fonction.fonctionName">Fonction Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" sigmaSortBy="fonctionAbreviation">
            <div class="d-flex">
              <span sigmaTranslate="sigmaEventsApp.fonction.fonctionAbreviation">Fonction Abreviation</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" sigmaSortBy="fonctionColor">
            <div class="d-flex">
              <span sigmaTranslate="sigmaEventsApp.fonction.fonctionColor">Fonction Color</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" sigmaSortBy="fonctionDescription">
            <div class="d-flex">
              <span sigmaTranslate="sigmaEventsApp.fonction.fonctionDescription">Fonction Description</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" sigmaSortBy="fonctionLogo">
            <div class="d-flex">
              <span sigmaTranslate="sigmaEventsApp.fonction.fonctionLogo">Fonction Logo</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" sigmaSortBy="fonctionParams">
            <div class="d-flex">
              <span sigmaTranslate="sigmaEventsApp.fonction.fonctionParams">Fonction Params</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" sigmaSortBy="fonctionAttributs">
            <div class="d-flex">
              <span sigmaTranslate="sigmaEventsApp.fonction.fonctionAttributs">Fonction Attributs</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" sigmaSortBy="fonctionStat">
            <div class="d-flex">
              <span sigmaTranslate="sigmaEventsApp.fonction.fonctionStat">Fonction Stat</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" sigmaSortBy="category.categoryId">
            <div class="d-flex">
              <span sigmaTranslate="sigmaEventsApp.fonction.category">Category</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" sigmaSortBy="event.eventId">
            <div class="d-flex">
              <span sigmaTranslate="sigmaEventsApp.fonction.event">Event</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let fonction of fonctions; trackBy: trackFonctionId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/fonction-sig', fonction.fonctionId, 'view']">{{ fonction.fonctionId }}</a>
          </td>
          <td>{{ fonction.fonctionName }}</td>
          <td>{{ fonction.fonctionAbreviation }}</td>
          <td [style.background]="fonction.fonctionColor">{{ fonction.fonctionColor }}</td>
          <td>{{ fonction.fonctionDescription }}</td>
          <td>
            <a *ngIf="fonction.fonctionLogo" (click)="openFile(fonction.fonctionLogo, fonction.fonctionLogoContentType)">
              <img
                [src]="'data:' + fonction.fonctionLogoContentType + ';base64,' + fonction.fonctionLogo"
                style="max-height: 30px"
                alt="fonction image"
              />
            </a>
            <span *ngIf="fonction.fonctionLogo">{{ fonction.fonctionLogoContentType }}, {{ byteSize(fonction.fonctionLogo) }}</span>
          </td>
          <td>{{ fonction.fonctionParams }}</td>
          <td>{{ fonction.fonctionAttributs }}</td>
          <td>{{ fonction.fonctionStat }}</td>
          <td>
            <div *ngIf="fonction.category">
              <a [routerLink]="['/category-sig', fonction.category.categoryId, 'view']">{{ fonction.category.categoryId }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="fonction.event">
              <a [routerLink]="['/event-sig', fonction.event.eventId, 'view']">{{ fonction.event.eventId }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/accreditation-sig']"
                [queryParams]="{ 'filter[fonctionId.in]': fonction.fonctionId }"
                class="btn btn-info btn-sm"
                data-cy="filterOtherEntityButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span
                  class="d-none d-md-inline"
                  sigmaTranslate="entity.action.show"
                  [translateValues]="{ otherEntity: ('sigmaEventsApp.fonction.accreditation' | translate) }"
                  >Show Accreditation</span
                >
              </button>
              <button
                type="submit"
                [routerLink]="['/fonction-sig', fonction.fonctionId, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" sigmaTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/fonction-sig', fonction.fonctionId, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" sigmaTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(fonction)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" sigmaTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="fonctions && fonctions.length > 0">
    <div class="d-flex justify-content-center">
      <sigma-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></sigma-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
