<div *ngIf="this.badgePrinting" class="overlay">
  <img src="../../../../content/images/loading_icon.gif" />
</div>
<form *ngIf="accreditation" name="printForm" (ngSubmit)="confirmPrint(accreditation, status)">
  <div class="modal-header">
    <h4 class="modal-title" data-cy="accreditationPrintDialogHeading" sigmaTranslate="entity.print.title">Confirm print operation</h4>

    <button type="button" class="btn-close" data-dismiss="modal" aria-hidden="true" (click)="cancel()">&times;</button>
  </div>

  <div class="modal-body">
    <sigma-alert-error></sigma-alert-error>
    <p
      id="sigma-print-accreditation-heading"
      sigmaTranslate="sigmaEventsApp.accreditation.print.question"
      [translateValues]="{ id: accreditation.accreditationId }"
    >
      Are you sure you want to print Accreditation {{ accreditation.accreditationId }}?
    </p>
    <img src="../../../../content/images/loading_icon.gif" *ngIf="!this.badgeGenerated" />
    <div id="badge-container" class="badge-container" [hidden]="!this.badgeGenerated"></div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
      <fa-icon icon="ban"></fa-icon>&nbsp;<span sigmaTranslate="entity.action.cancel">Cancel</span>
    </button>

    <button
      id="sigma-confirm-print-accreditation"
      data-cy="entityConfirmPrintButton"
      type="submit"
      class="btn btn-success"
      *ngIf="this.badgeGenerated"
    >
      <fa-icon icon="print"></fa-icon>&nbsp;<span sigmaTranslate="entity.action.print">Validate</span>
    </button>
  </div>
</form>
