<div>
  <h2 id="page-heading" data-cy="CategoryHeading">
    <span sigmaTranslate="sigmaEventsApp.category.home.title">Categories</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span sigmaTranslate="sigmaEventsApp.category.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-category-sig"
        [routerLink]="['/category-sig/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span sigmaTranslate="sigmaEventsApp.category.home.createLabel"> Create a new Category </span>
      </button>
    </div>
  </h2>

  <sigma-alert-error></sigma-alert-error>

  <sigma-alert></sigma-alert>

  <sigma-filter [filters]="filters"></sigma-filter>

  <div class="alert alert-warning" id="no-result" *ngIf="categories?.length === 0">
    <span sigmaTranslate="sigmaEventsApp.category.home.notFound">No Categories found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="categories && categories.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr sigmaSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" sigmaSortBy="categoryId">
            <div class="d-flex">
              <span sigmaTranslate="sigmaEventsApp.category.categoryId">Category Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" sigmaSortBy="categoryName">
            <div class="d-flex">
              <span sigmaTranslate="sigmaEventsApp.category.categoryName">Category Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" sigmaSortBy="categoryAbreviation">
            <div class="d-flex">
              <span sigmaTranslate="sigmaEventsApp.category.categoryAbreviation">Category Abreviation</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" sigmaSortBy="categoryColor">
            <div class="d-flex">
              <span sigmaTranslate="sigmaEventsApp.category.categoryColor">Category Color</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" sigmaSortBy="categoryDescription">
            <div class="d-flex">
              <span sigmaTranslate="sigmaEventsApp.category.categoryDescription">Category Description</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" sigmaSortBy="categoryLogo">
            <div class="d-flex">
              <span sigmaTranslate="sigmaEventsApp.category.categoryLogo">Category Logo</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" sigmaSortBy="categoryParams" *sigmaHasAnyAuthority="['ROLE_ADMIN']">
            <div class="d-flex">
              <span sigmaTranslate="sigmaEventsApp.category.categoryParams">Category Params</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" sigmaSortBy="categoryAttributs" *sigmaHasAnyAuthority="['ROLE_ADMIN']">
            <div class="d-flex">
              <span sigmaTranslate="sigmaEventsApp.category.categoryAttributs">Category Attributs</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" sigmaSortBy="categoryStat">
            <div class="d-flex">
              <span sigmaTranslate="sigmaEventsApp.category.categoryStat">Category Stat</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" sigmaSortBy="printingModel.printingModelId" *sigmaHasAnyAuthority="['ROLE_ADMIN']">
            <div class="d-flex">
              <span sigmaTranslate="sigmaEventsApp.category.printingModel">Printing Model</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" sigmaSortBy="event.eventId" *sigmaHasAnyAuthority="['ROLE_ADMIN']">
            <div class="d-flex">
              <span sigmaTranslate="sigmaEventsApp.category.event">Event</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let category of categories; trackBy: trackCategoryId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/category-sig', category.categoryId, 'view']">{{ category.categoryId }}</a>
          </td>
          <td>{{ category.categoryName }}</td>
          <td>{{ category.categoryAbreviation }}</td>
          <td [style.background]="category.categoryColor">{{ category.categoryColor }}</td>
          <td>{{ category.categoryDescription }}</td>
          <td>
            <a *ngIf="category.categoryLogo" (click)="openFile(category.categoryLogo, category.categoryLogoContentType)">
              <img
                [src]="'data:' + category.categoryLogoContentType + ';base64,' + category.categoryLogo"
                style="max-height: 30px"
                alt="category image"
              />
            </a>
            <span *ngIf="category.categoryLogo">{{ category.categoryLogoContentType }}, {{ byteSize(category.categoryLogo) }}</span>
          </td>
          <td *sigmaHasAnyAuthority="['ROLE_ADMIN']">{{ category.categoryParams }}</td>
          <td *sigmaHasAnyAuthority="['ROLE_ADMIN']">{{ category.categoryAttributs }}</td>
          <td>{{ category.categoryStat }}</td>
          <td *sigmaHasAnyAuthority="['ROLE_ADMIN']">
            <div *ngIf="category.printingModel">
              <a [routerLink]="['/printing-model-sig', category.printingModel.printingModelId, 'view']">{{
                category.printingModel.printingModelName
              }}</a>
            </div>
          </td>
          <td *sigmaHasAnyAuthority="['ROLE_ADMIN']">
            <div *ngIf="category.event">
              <a [routerLink]="['/event-sig', category.event.eventId, 'view']">{{ category.event.eventName }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/fonction-sig']"
                [queryParams]="{ 'filter[categoryId.in]': category.categoryId }"
                class="btn btn-info btn-sm"
                data-cy="filterOtherEntityButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span
                  class="d-none d-md-inline"
                  sigmaTranslate="entity.action.show"
                  [translateValues]="{ otherEntity: ('sigmaEventsApp.category.fonction' | translate) }"
                  >Show Fonction</span
                >
              </button>
              <button
                type="submit"
                [routerLink]="['/accreditation-sig']"
                [queryParams]="{ 'filter[categoryId.in]': category.categoryId }"
                class="btn btn-info btn-sm"
                data-cy="filterOtherEntityButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span
                  class="d-none d-md-inline"
                  sigmaTranslate="entity.action.show"
                  [translateValues]="{ otherEntity: ('sigmaEventsApp.category.accreditation' | translate) }"
                  >Show Accreditation</span
                >
              </button>
              <button
                type="submit"
                [routerLink]="['/category-sig', category.categoryId, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" sigmaTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/category-sig', category.categoryId, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" sigmaTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(category)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" sigmaTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="categories && categories.length > 0">
    <div class="d-flex justify-content-center">
      <sigma-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></sigma-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
