<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="printingServer">
      <h2 data-cy="printingServerDetailsHeading">
        <span sigmaTranslate="sigmaEventsApp.printingServer.detail.title">Printing Server</span>
      </h2>

      <hr />

      <sigma-alert-error></sigma-alert-error>

      <sigma-alert></sigma-alert>

      <dl class="row-md jh-entity-details">
        <dt><span sigmaTranslate="sigmaEventsApp.printingServer.printingServerId">Printing Server Id</span></dt>
        <dd>
          <span>{{ printingServer.printingServerId }}</span>
        </dd>
        <dt><span sigmaTranslate="sigmaEventsApp.printingServer.printingServerName">Printing Server Name</span></dt>
        <dd>
          <span>{{ printingServer.printingServerName }}</span>
        </dd>
        <dt><span sigmaTranslate="sigmaEventsApp.printingServer.printingServerDescription">Printing Server Description</span></dt>
        <dd>
          <span>{{ printingServer.printingServerDescription }}</span>
        </dd>
        <dt><span sigmaTranslate="sigmaEventsApp.printingServer.printingServerHost">Printing Server Host</span></dt>
        <dd>
          <span>{{ printingServer.printingServerHost }}</span>
        </dd>
        <dt><span sigmaTranslate="sigmaEventsApp.printingServer.printingServerPort">Printing Server Port</span></dt>
        <dd>
          <span>{{ printingServer.printingServerPort }}</span>
        </dd>
        <dt><span sigmaTranslate="sigmaEventsApp.printingServer.printingServerDns">Printing Server Dns</span></dt>
        <dd>
          <span>{{ printingServer.printingServerDns }}</span>
        </dd>
        <dt><span sigmaTranslate="sigmaEventsApp.printingServer.printingServerProxy">Printing Server Proxy</span></dt>
        <dd>
          <span>{{ printingServer.printingServerProxy }}</span>
        </dd>
        <dt><span sigmaTranslate="sigmaEventsApp.printingServer.printingServerParam1">Printing Server Param 1</span></dt>
        <dd>
          <span>{{ printingServer.printingServerParam1 }}</span>
        </dd>
        <dt><span sigmaTranslate="sigmaEventsApp.printingServer.printingServerParam2">Printing Server Param 2</span></dt>
        <dd>
          <span>{{ printingServer.printingServerParam2 }}</span>
        </dd>
        <dt><span sigmaTranslate="sigmaEventsApp.printingServer.printingServerParam3">Printing Server Param 3</span></dt>
        <dd>
          <span>{{ printingServer.printingServerParam3 }}</span>
        </dd>
        <dt><span sigmaTranslate="sigmaEventsApp.printingServer.printingServerStat">Printing Server Stat</span></dt>
        <dd>
          <span>{{ printingServer.printingServerStat }}</span>
        </dd>
        <dt><span sigmaTranslate="sigmaEventsApp.printingServer.printingServerParams">Printing Server Params</span></dt>
        <dd>
          <span>{{ printingServer.printingServerParams }}</span>
        </dd>
        <dt><span sigmaTranslate="sigmaEventsApp.printingServer.printingServerAttributs">Printing Server Attributs</span></dt>
        <dd>
          <span>{{ printingServer.printingServerAttributs }}</span>
        </dd>
        <dt><span sigmaTranslate="sigmaEventsApp.printingServer.event">Event</span></dt>
        <dd>
          <div *ngIf="printingServer.event">
            <a [routerLink]="['/event-sig', printingServer.event.eventId, 'view']">{{ printingServer.event.eventId }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span sigmaTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/printing-server-sig', printingServer.printingServerId, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span sigmaTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
