<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="operationHistory">
      <h2 data-cy="operationHistoryDetailsHeading">
        <span sigmaTranslate="sigmaEventsApp.operationHistory.detail.title">Operation History</span>
      </h2>

      <hr />

      <sigma-alert-error></sigma-alert-error>

      <sigma-alert></sigma-alert>

      <dl class="row-md jh-entity-details">
        <dt><span sigmaTranslate="sigmaEventsApp.operationHistory.operationHistoryId">Operation History Id</span></dt>
        <dd>
          <span>{{ operationHistory.operationHistoryId }}</span>
        </dd>
        <dt><span sigmaTranslate="sigmaEventsApp.operationHistory.operationHistoryDescription">Operation History Description</span></dt>
        <dd>
          <span>{{ operationHistory.operationHistoryDescription }}</span>
        </dd>
        <dt><span sigmaTranslate="sigmaEventsApp.operationHistory.operationHistoryDate">Operation History Date</span></dt>
        <dd>
          <span>{{ operationHistory.operationHistoryDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span sigmaTranslate="sigmaEventsApp.operationHistory.operationHistoryUserID">Operation History User ID</span></dt>
        <dd>
          <span>{{ operationHistory.operationHistoryUserID }}</span>
        </dd>
        <dt><span sigmaTranslate="sigmaEventsApp.operationHistory.operationHistoryOldValue">Operation History Old Value</span></dt>
        <dd>
          <span>{{ operationHistory.operationHistoryOldValue }}</span>
        </dd>
        <dt><span sigmaTranslate="sigmaEventsApp.operationHistory.operationHistoryNewValue">Operation History New Value</span></dt>
        <dd>
          <span>{{ operationHistory.operationHistoryNewValue }}</span>
        </dd>
        <dt><span sigmaTranslate="sigmaEventsApp.operationHistory.operationHistoryOldId">Operation History Old Id</span></dt>
        <dd>
          <span>{{ operationHistory.operationHistoryOldId }}</span>
        </dd>
        <dt><span sigmaTranslate="sigmaEventsApp.operationHistory.operationHistoryNewId">Operation History New Id</span></dt>
        <dd>
          <span>{{ operationHistory.operationHistoryNewId }}</span>
        </dd>
        <dt><span sigmaTranslate="sigmaEventsApp.operationHistory.operationHistoryImportedFile">Operation History Imported File</span></dt>
        <dd>
          <span>{{ operationHistory.operationHistoryImportedFile }}</span>
        </dd>
        <dt>
          <span sigmaTranslate="sigmaEventsApp.operationHistory.operationHistoryImportedFilePath"
            >Operation History Imported File Path</span
          >
        </dt>
        <dd>
          <span>{{ operationHistory.operationHistoryImportedFilePath }}</span>
        </dd>
        <dt><span sigmaTranslate="sigmaEventsApp.operationHistory.operationHistoryParams">Operation History Params</span></dt>
        <dd>
          <span>{{ operationHistory.operationHistoryParams }}</span>
        </dd>
        <dt><span sigmaTranslate="sigmaEventsApp.operationHistory.operationHistoryAttributs">Operation History Attributs</span></dt>
        <dd>
          <span>{{ operationHistory.operationHistoryAttributs }}</span>
        </dd>
        <dt><span sigmaTranslate="sigmaEventsApp.operationHistory.operationHistoryStat">Operation History Stat</span></dt>
        <dd>
          <span>{{ operationHistory.operationHistoryStat }}</span>
        </dd>
        <dt><span sigmaTranslate="sigmaEventsApp.operationHistory.typeoperation">Typeoperation</span></dt>
        <dd>
          <div *ngIf="operationHistory.typeoperation">
            <a [routerLink]="['/operation-type-sig', operationHistory.typeoperation.operationTypeId, 'view']">{{
              operationHistory.typeoperation.operationTypeValue
            }}</a>
          </div>
        </dd>
        <dt><span sigmaTranslate="sigmaEventsApp.operationHistory.event">Event</span></dt>
        <dd>
          <div *ngIf="operationHistory.event">
            <a [routerLink]="['/event-sig', operationHistory.event.eventId, 'view']">{{ operationHistory.event.eventName }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span sigmaTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/operation-history-sig', operationHistory.operationHistoryId, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span sigmaTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
