<div>
  <h2 id="page-heading" data-cy="AccreditationTypeHeading">
    <span sigmaTranslate="sigmaEventsApp.accreditationType.home.title">Accreditation Types</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span sigmaTranslate="sigmaEventsApp.accreditationType.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-accreditation-type-sig"
        [routerLink]="['/accreditation-type-sig/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span sigmaTranslate="sigmaEventsApp.accreditationType.home.createLabel"> Create a new Accreditation Type </span>
      </button>
    </div>
  </h2>

  <sigma-alert-error></sigma-alert-error>

  <sigma-alert></sigma-alert>

  <sigma-filter [filters]="filters"></sigma-filter>

  <div class="alert alert-warning" id="no-result" *ngIf="accreditationTypes?.length === 0">
    <span sigmaTranslate="sigmaEventsApp.accreditationType.home.notFound">No Accreditation Types found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="accreditationTypes && accreditationTypes.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr sigmaSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" sigmaSortBy="accreditationTypeId">
            <div class="d-flex">
              <span sigmaTranslate="sigmaEventsApp.accreditationType.accreditationTypeId">Accreditation Type Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" sigmaSortBy="accreditationTypeValue">
            <div class="d-flex">
              <span sigmaTranslate="sigmaEventsApp.accreditationType.accreditationTypeValue">Accreditation Type Value</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" sigmaSortBy="accreditationTypeAbreviation">
            <div class="d-flex">
              <span sigmaTranslate="sigmaEventsApp.accreditationType.accreditationTypeAbreviation">Accreditation Type Abreviation</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" sigmaSortBy="accreditationTypeDescription">
            <div class="d-flex">
              <span sigmaTranslate="sigmaEventsApp.accreditationType.accreditationTypeDescription">Accreditation Type Description</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" sigmaSortBy="accreditationTypeParams">
            <div class="d-flex">
              <span sigmaTranslate="sigmaEventsApp.accreditationType.accreditationTypeParams">Accreditation Type Params</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" sigmaSortBy="accreditationTypeAttributs">
            <div class="d-flex">
              <span sigmaTranslate="sigmaEventsApp.accreditationType.accreditationTypeAttributs">Accreditation Type Attributs</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" sigmaSortBy="accreditationTypeStat">
            <div class="d-flex">
              <span sigmaTranslate="sigmaEventsApp.accreditationType.accreditationTypeStat">Accreditation Type Stat</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" sigmaSortBy="printingModel.printingModelId">
            <div class="d-flex">
              <span sigmaTranslate="sigmaEventsApp.accreditationType.printingModel">Printing Model</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" sigmaSortBy="event.eventId">
            <div class="d-flex">
              <span sigmaTranslate="sigmaEventsApp.accreditationType.event">Event</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let accreditationType of accreditationTypes; trackBy: trackAccreditationTypeId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/accreditation-type-sig', accreditationType.accreditationTypeId, 'view']">{{
              accreditationType.accreditationTypeId
            }}</a>
          </td>
          <td>{{ accreditationType.accreditationTypeValue }}</td>
          <td>{{ accreditationType.accreditationTypeAbreviation }}</td>
          <td>{{ accreditationType.accreditationTypeDescription }}</td>
          <td>{{ accreditationType.accreditationTypeParams }}</td>
          <td>{{ accreditationType.accreditationTypeAttributs }}</td>
          <td>{{ accreditationType.accreditationTypeStat | yesNo }}</td>
          <td>
            <div *ngIf="accreditationType.printingModel">
              <a [routerLink]="['/printing-model-sig', accreditationType.printingModel.printingModelId, 'view']">{{
                accreditationType.printingModel.printingModelName
              }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="accreditationType.event">
              <a [routerLink]="['/event-sig', accreditationType.event.eventId, 'view']">{{ accreditationType.event.eventName }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/accreditation-sig']"
                [queryParams]="{ 'filter[accreditationTypeId.in]': accreditationType.accreditationTypeId }"
                class="btn btn-info btn-sm"
                data-cy="filterOtherEntityButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span
                  class="d-none d-md-inline"
                  sigmaTranslate="entity.action.show"
                  [translateValues]="{ otherEntity: ('sigmaEventsApp.accreditationType.accreditation' | translate) }"
                  >Show Accreditation</span
                >
              </button>
              <button
                type="submit"
                [routerLink]="['/accreditation-type-sig', accreditationType.accreditationTypeId, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" sigmaTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/accreditation-type-sig', accreditationType.accreditationTypeId, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" sigmaTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(accreditationType)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" sigmaTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="accreditationTypes && accreditationTypes.length > 0">
    <div class="d-flex justify-content-center">
      <sigma-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></sigma-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
