<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="logHistory">
      <h2 data-cy="logHistoryDetailsHeading"><span sigmaTranslate="sigmaEventsApp.logHistory.detail.title">Log History</span></h2>

      <hr />

      <sigma-alert-error></sigma-alert-error>

      <sigma-alert></sigma-alert>

      <dl class="row-md jh-entity-details">
        <dt><span sigmaTranslate="sigmaEventsApp.logHistory.logHistory">Log History</span></dt>
        <dd>
          <span>{{ logHistory.logHistory }}</span>
        </dd>
        <dt><span sigmaTranslate="sigmaEventsApp.logHistory.logHistoryDescription">Log History Description</span></dt>
        <dd>
          <span>{{ logHistory.logHistoryDescription }}</span>
        </dd>
        <dt><span sigmaTranslate="sigmaEventsApp.logHistory.logHistoryParams">Log History Params</span></dt>
        <dd>
          <span>{{ logHistory.logHistoryParams }}</span>
        </dd>
        <dt><span sigmaTranslate="sigmaEventsApp.logHistory.logHistoryAttributs">Log History Attributs</span></dt>
        <dd>
          <span>{{ logHistory.logHistoryAttributs }}</span>
        </dd>
        <dt><span sigmaTranslate="sigmaEventsApp.logHistory.logHistoryStat">Log History Stat</span></dt>
        <dd>
          <span>{{ logHistory.logHistoryStat | yesNo }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span sigmaTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/log-history-sig', logHistory.logHistory, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span sigmaTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
