<div class="row">
  <div class="col-md-3">
    <a href="https://sigmaevents.ma/">
      <span class="sigmaEvents img-fluid rounded"></span>
    </a>
  </div>

  <div class="col-md-6">
    <h1 class="display-4 mb-4"><span sigmaTranslate="home.title"></span></h1>

    <p class="lead" sigmaTranslate="home.subtitle"></p>
    <br />

    <div *ngIf="account !== null">
      <div *ngIf="account?.printingCentre?.event?.eventDescription !== null">
        <p class="lead">{{ account!.printingCentre!.event!.eventDescription }}</p>
        <p class="lead">{{ account!.printingCentre!.event!.eventdateStart }} - {{ account!.printingCentre!.event!.eventdateEnd }}</p>
      </div>
    </div>

    <div *ngIf="account !== null">
      <div *ngIf="account?.printingCentre?.event == null">
        <div class="alert alert-success">
          <div>
            <span
              id="home-logged-message"
              *ngIf="account"
              sigmaTranslate="home.logged.messageNoEvent"
              [translateValues]="{ username: account!.login }"
            >
              You are logged in as "{{ account!.login! }}".
            </span>
          </div>
        </div>
        <div class="alert alert-warning">
          <span sigmaTranslate="home.logged.noEventFound">NO EVENT FOUND</span>
        </div>
      </div>
    </div>

    <div [ngSwitch]="account !== null">
      <div *ngIf="account?.printingCentre?.event !== null">
        <div class="alert alert-success" *ngSwitchCase="true">
          <div>
            <span
              id="home-logged-message"
              *ngIf="account"
              sigmaTranslate="home.logged.message"
              [translateValues]="{ username: account!.login, eventname: account!.printingCentre!.event!.eventName }"
            >
              You are logged in as "{{ account!.login! }}" to {{ account!.printingCentre!.event!.eventName }}.
            </span>
          </div>
        </div>
      </div>

      <div class="alert alert-warning" *ngSwitchCase="false">
        <span sigmaTranslate="global.messages.info.authenticated.prefix">If you want to </span>
        <a class="alert-link" (click)="login()" sigmaTranslate="global.messages.info.authenticated.link">sign in</a>
      </div>

      <div class="alert alert-warning" *ngSwitchCase="false">
        <span sigmaTranslate="global.messages.info.register.noaccount">You don't have an account yet?</span>&nbsp;
        <a class="alert-link" routerLink="account/register" sigmaTranslate="global.messages.info.register.link">Register a new account</a>
      </div>
    </div>

    <div *ngIf="account !== null">
      <div *sigmaHasAnyAuthority="[authority.ADMIN, authority.EVENT_ADMIN, authority.EVENT_USER]">
        <div *ngIf="account!.printingCentre!.event">
          <ul>
            <li *ngFor="let link of eventUserLinks">
              <a [href]="link.url">{{ link.label | translate }}</a>
            </li>
          </ul>
        </div>
      </div>
      <div *sigmaHasAnyAuthority="[authority.ADMIN, authority.EVENT_ADMIN]">
        <div *ngIf="account!.printingCentre!.event">
          <ul>
            <li *ngFor="let link of eventAdminLinks">
              <a [href]="link.url">{{ link.label | translate }}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-3" *ngIf="account !== null">
    <div *ngIf="account!.printingCentre!.event!.eventLogo">
      <img
        class="eventLogo img-fluid rounded"
        [src]="'data:' + account!.printingCentre!.event!.eventLogoContentType! + ';base64,' + account!.printingCentre!.event!.eventLogo!"
        alt="accreditation image"
      />
    </div>
  </div>
</div>
