/* ==========================================================================
Main page styles
========================================================================== */

.sigmaEvents {
  display: inline-block;
  width: 347px;
  height: 497px;
  background: url('../../content/images/sigmaEvents-logo.png') no-repeat center center;
  background-size: contain;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media only screen and (-webkit-min-device-pixel-ratio: 3),
  only screen and (-moz-min-device-pixel-ratio: 3),
  only screen and (-o-min-device-pixel-ratio: 3/1),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  .sigmaEvents {
    background: url('../../content/images/sigmaEvents-logo.png') no-repeat center center;
    background-size: contain;
  }
}

.eventLogo {
  display: inline-block;
  width: 347px;
  height: 497px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  margin: 0% 20% 20% 20%;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media only screen and (-webkit-min-device-pixel-ratio: 3),
  only screen and (-moz-min-device-pixel-ratio: 3),
  only screen and (-o-min-device-pixel-ratio: 3/1),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  .eventLogo {
    background-size: contain;
  }
}
