<div>
  <h2 id="page-heading" data-cy="CityHeading">
    <span sigmaTranslate="sigmaEventsApp.city.home.title">Cities</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span sigmaTranslate="sigmaEventsApp.city.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-city-sig"
        [routerLink]="['/city-sig/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span sigmaTranslate="sigmaEventsApp.city.home.createLabel"> Create a new City </span>
      </button>
    </div>
  </h2>

  <sigma-alert-error></sigma-alert-error>

  <sigma-alert></sigma-alert>

  <sigma-filter [filters]="filters"></sigma-filter>

  <div class="alert alert-warning" id="no-result" *ngIf="cities?.length === 0">
    <span sigmaTranslate="sigmaEventsApp.city.home.notFound">No Cities found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="cities && cities.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr sigmaSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" sigmaSortBy="cityId">
            <div class="d-flex">
              <span sigmaTranslate="sigmaEventsApp.city.cityId">City Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" sigmaSortBy="cityName">
            <div class="d-flex">
              <span sigmaTranslate="sigmaEventsApp.city.cityName">City Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" sigmaSortBy="cityZipCode">
            <div class="d-flex">
              <span sigmaTranslate="sigmaEventsApp.city.cityZipCode">City Zip Code</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" sigmaSortBy="cityAbreviation">
            <div class="d-flex">
              <span sigmaTranslate="sigmaEventsApp.city.cityAbreviation">City Abreviation</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" sigmaSortBy="cityDescription">
            <div class="d-flex">
              <span sigmaTranslate="sigmaEventsApp.city.cityDescription">City Description</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" sigmaSortBy="cityParams">
            <div class="d-flex">
              <span sigmaTranslate="sigmaEventsApp.city.cityParams">City Params</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" sigmaSortBy="cityAttributs">
            <div class="d-flex">
              <span sigmaTranslate="sigmaEventsApp.city.cityAttributs">City Attributs</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" sigmaSortBy="cityStat">
            <div class="d-flex">
              <span sigmaTranslate="sigmaEventsApp.city.cityStat">City Stat</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" sigmaSortBy="country.countryId">
            <div class="d-flex">
              <span sigmaTranslate="sigmaEventsApp.city.country">Country</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let city of cities; trackBy: trackCityId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/city-sig', city.cityId, 'view']">{{ city.cityId }}</a>
          </td>
          <td>{{ city.cityName }}</td>
          <td>{{ city.cityZipCode }}</td>
          <td>{{ city.cityAbreviation }}</td>
          <td>{{ city.cityDescription }}</td>
          <td>{{ city.cityParams }}</td>
          <td>{{ city.cityAttributs }}</td>
          <td>{{ city.cityStat | yesNo }}</td>
          <td>
            <div *ngIf="city.country">
              <a [routerLink]="['/country-sig', city.country.countryId, 'view']">{{ city.country.countryName }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/printing-centre-sig']"
                [queryParams]="{ 'filter[cityId.in]': city.cityId }"
                class="btn btn-info btn-sm"
                data-cy="filterOtherEntityButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span
                  class="d-none d-md-inline"
                  sigmaTranslate="entity.action.show"
                  [translateValues]="{ otherEntity: ('sigmaEventsApp.city.printingCentre' | translate) }"
                  >Show Printing Centre</span
                >
              </button>
              <button
                type="submit"
                [routerLink]="['/site-sig']"
                [queryParams]="{ 'filter[cityId.in]': city.cityId }"
                class="btn btn-info btn-sm"
                data-cy="filterOtherEntityButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span
                  class="d-none d-md-inline"
                  sigmaTranslate="entity.action.show"
                  [translateValues]="{ otherEntity: ('sigmaEventsApp.city.site' | translate) }"
                  >Show Site</span
                >
              </button>
              <button
                type="submit"
                [routerLink]="['/organiz-sig']"
                [queryParams]="{ 'filter[cityId.in]': city.cityId }"
                class="btn btn-info btn-sm"
                data-cy="filterOtherEntityButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span
                  class="d-none d-md-inline"
                  sigmaTranslate="entity.action.show"
                  [translateValues]="{ otherEntity: ('sigmaEventsApp.city.organiz' | translate) }"
                  >Show Organiz</span
                >
              </button>
              <button
                type="submit"
                [routerLink]="['/accreditation-sig']"
                [queryParams]="{ 'filter[cityId.in]': city.cityId }"
                class="btn btn-info btn-sm"
                data-cy="filterOtherEntityButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span
                  class="d-none d-md-inline"
                  sigmaTranslate="entity.action.show"
                  [translateValues]="{ otherEntity: ('sigmaEventsApp.city.accreditation' | translate) }"
                  >Show Accreditation</span
                >
              </button>
              <button
                type="submit"
                [routerLink]="['/city-sig', city.cityId, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" sigmaTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/city-sig', city.cityId, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" sigmaTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(city)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" sigmaTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="cities && cities.length > 0">
    <div class="d-flex justify-content-center">
      <sigma-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></sigma-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
