<div>
  <h2 id="page-heading" data-cy="EventControlHeading">
    <span sigmaTranslate="sigmaEventsApp.eventControl.home.title">Event Controls</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span sigmaTranslate="sigmaEventsApp.eventControl.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-event-control-sig"
        [routerLink]="['/event-control-sig/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span sigmaTranslate="sigmaEventsApp.eventControl.home.createLabel"> Create a new Event Control </span>
      </button>
    </div>
  </h2>

  <sigma-alert-error></sigma-alert-error>

  <sigma-alert></sigma-alert>

  <sigma-filter [filters]="filters"></sigma-filter>

  <div class="alert alert-warning" id="no-result" *ngIf="eventControls?.length === 0">
    <span sigmaTranslate="sigmaEventsApp.eventControl.home.notFound">No Event Controls found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="eventControls && eventControls.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr sigmaSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" sigmaSortBy="controlId">
            <div class="d-flex">
              <span sigmaTranslate="sigmaEventsApp.eventControl.controlId">Control Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" sigmaSortBy="controlName">
            <div class="d-flex">
              <span sigmaTranslate="sigmaEventsApp.eventControl.controlName">Control Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" sigmaSortBy="controlDescription">
            <div class="d-flex">
              <span sigmaTranslate="sigmaEventsApp.eventControl.controlDescription">Control Description</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" sigmaSortBy="controlType">
            <div class="d-flex">
              <span sigmaTranslate="sigmaEventsApp.eventControl.controlType">Control Type</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" sigmaSortBy="controlValueString">
            <div class="d-flex">
              <span sigmaTranslate="sigmaEventsApp.eventControl.controlValueString">Control Value String</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" sigmaSortBy="controlValueLong">
            <div class="d-flex">
              <span sigmaTranslate="sigmaEventsApp.eventControl.controlValueLong">Control Value Long</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" sigmaSortBy="controlValueDate">
            <div class="d-flex">
              <span sigmaTranslate="sigmaEventsApp.eventControl.controlValueDate">Control Value Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" sigmaSortBy="controlParams">
            <div class="d-flex">
              <span sigmaTranslate="sigmaEventsApp.eventControl.controlParams">Control Params</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" sigmaSortBy="controlAttributs">
            <div class="d-flex">
              <span sigmaTranslate="sigmaEventsApp.eventControl.controlAttributs">Control Attributs</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" sigmaSortBy="controlValueStat">
            <div class="d-flex">
              <span sigmaTranslate="sigmaEventsApp.eventControl.controlValueStat">Control Value Stat</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" sigmaSortBy="event.eventId">
            <div class="d-flex">
              <span sigmaTranslate="sigmaEventsApp.eventControl.event">Event</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" sigmaSortBy="eventField.fieldId">
            <div class="d-flex">
              <span sigmaTranslate="sigmaEventsApp.eventControl.eventField">Event Field</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let eventControl of eventControls; trackBy: trackControlId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/event-control-sig', eventControl.controlId, 'view']">{{ eventControl.controlId }}</a>
          </td>
          <td>{{ eventControl.controlName }}</td>
          <td>{{ eventControl.controlDescription }}</td>
          <td>{{ eventControl.controlType }}</td>
          <td>{{ eventControl.controlValueString }}</td>
          <td>{{ eventControl.controlValueLong }}</td>
          <td>{{ eventControl.controlValueDate | formatMediumDatetime }}</td>
          <td>{{ eventControl.controlParams }}</td>
          <td>{{ eventControl.controlAttributs }}</td>
          <td>{{ eventControl.controlValueStat }}</td>
          <td>
            <div *ngIf="eventControl.event">
              <a [routerLink]="['/event-sig', eventControl.event.eventId, 'view']">{{ eventControl.event.eventName }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="eventControl.eventField">
              <a [routerLink]="['/event-field-sig', eventControl.eventField.fieldId, 'view']">{{ eventControl.eventField.fieldName }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/event-control-sig', eventControl.controlId, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" sigmaTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/event-control-sig', eventControl.controlId, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" sigmaTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(eventControl)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" sigmaTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="eventControls && eventControls.length > 0">
    <div class="d-flex justify-content-center">
      <sigma-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></sigma-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
