<div>
  <h2 id="page-heading" data-cy="NationalityHeading">
    <span sigmaTranslate="sigmaEventsApp.nationality.home.title">Nationalities</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span sigmaTranslate="sigmaEventsApp.nationality.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-nationality-sig"
        [routerLink]="['/nationality-sig/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span sigmaTranslate="sigmaEventsApp.nationality.home.createLabel"> Create a new Nationality </span>
      </button>
    </div>
  </h2>

  <sigma-alert-error></sigma-alert-error>

  <sigma-alert></sigma-alert>

  <sigma-filter [filters]="filters"></sigma-filter>

  <div class="alert alert-warning" id="no-result" *ngIf="nationalities?.length === 0">
    <span sigmaTranslate="sigmaEventsApp.nationality.home.notFound">No Nationalities found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="nationalities && nationalities.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr sigmaSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" sigmaSortBy="nationalityId">
            <div class="d-flex">
              <span sigmaTranslate="sigmaEventsApp.nationality.nationalityId">Nationality Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" sigmaSortBy="nationalityValue">
            <div class="d-flex">
              <span sigmaTranslate="sigmaEventsApp.nationality.nationalityValue">Nationality Value</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" sigmaSortBy="nationalityAbreviation">
            <div class="d-flex">
              <span sigmaTranslate="sigmaEventsApp.nationality.nationalityAbreviation">Nationality Abreviation</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" sigmaSortBy="nationalityDescription">
            <div class="d-flex">
              <span sigmaTranslate="sigmaEventsApp.nationality.nationalityDescription">Nationality Description</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" sigmaSortBy="nationalityFlag">
            <div class="d-flex">
              <span sigmaTranslate="sigmaEventsApp.nationality.nationalityFlag">Nationality Flag</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" sigmaSortBy="nationalityParams">
            <div class="d-flex">
              <span sigmaTranslate="sigmaEventsApp.nationality.nationalityParams">Nationality Params</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" sigmaSortBy="nationalityAttributs">
            <div class="d-flex">
              <span sigmaTranslate="sigmaEventsApp.nationality.nationalityAttributs">Nationality Attributs</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" sigmaSortBy="nationalityStat">
            <div class="d-flex">
              <span sigmaTranslate="sigmaEventsApp.nationality.nationalityStat">Nationality Stat</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let nationality of nationalities; trackBy: trackNationalityId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/nationality-sig', nationality.nationalityId, 'view']">{{ nationality.nationalityId }}</a>
          </td>
          <td>{{ nationality.nationalityValue }}</td>
          <td>{{ nationality.nationalityAbreviation }}</td>
          <td>{{ nationality.nationalityDescription }}</td>
          <td>
            <a *ngIf="nationality.nationalityFlag" (click)="openFile(nationality.nationalityFlag, nationality.nationalityFlagContentType)">
              <img
                [src]="'data:' + nationality.nationalityFlagContentType + ';base64,' + nationality.nationalityFlag"
                style="max-height: 30px"
                alt="nationality image"
              />
            </a>
            <span *ngIf="nationality.nationalityFlag"
              >{{ nationality.nationalityFlagContentType }}, {{ byteSize(nationality.nationalityFlag) }}</span
            >
          </td>
          <td>{{ nationality.nationalityParams }}</td>
          <td>{{ nationality.nationalityAttributs }}</td>
          <td>{{ nationality.nationalityStat | yesNo }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/accreditation-sig']"
                [queryParams]="{ 'filter[nationalityId.in]': nationality.nationalityId }"
                class="btn btn-info btn-sm"
                data-cy="filterOtherEntityButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span
                  class="d-none d-md-inline"
                  sigmaTranslate="entity.action.show"
                  [translateValues]="{ otherEntity: ('sigmaEventsApp.nationality.accreditation' | translate) }"
                  >Show Accreditation</span
                >
              </button>
              <button
                type="submit"
                [routerLink]="['/nationality-sig', nationality.nationalityId, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" sigmaTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/nationality-sig', nationality.nationalityId, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" sigmaTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(nationality)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" sigmaTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="nationalities && nationalities.length > 0">
    <div class="d-flex justify-content-center">
      <sigma-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></sigma-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
