<div>
  <h2 id="page-heading" data-cy="OperationHistoryHeading">
    <span sigmaTranslate="sigmaEventsApp.operationHistory.home.title">Operation Histories</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span sigmaTranslate="sigmaEventsApp.operationHistory.home.refreshListLabel">Refresh list</span>
      </button>

      <!-- <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-operation-history-sig"
        [routerLink]="['/operation-history-sig/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span sigmaTranslate="sigmaEventsApp.operationHistory.home.createLabel"> Create a new Operation History </span>
      </button> -->
    </div>
  </h2>

  <sigma-alert-error></sigma-alert-error>

  <sigma-alert></sigma-alert>

  <sigma-filter [filters]="filters"></sigma-filter>

  <div class="alert alert-warning" id="no-result" *ngIf="operationHistories?.length === 0">
    <span sigmaTranslate="sigmaEventsApp.operationHistory.home.notFound">No Operation Histories found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="operationHistories && operationHistories.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr sigmaSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" sigmaSortBy="operationHistoryId">
            <div class="d-flex">
              <span sigmaTranslate="sigmaEventsApp.operationHistory.operationHistoryId">Operation History Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" sigmaSortBy="operationHistoryDescription">
            <div class="d-flex">
              <span sigmaTranslate="sigmaEventsApp.operationHistory.operationHistoryDescription">Operation History Description</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" sigmaSortBy="operationHistoryOldId">
            <div class="d-flex">
              <span sigmaTranslate="sigmaEventsApp.operationHistory.operationHistoryOldId">Operation History Old Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" sigmaSortBy="operationHistoryNewId">
            <div class="d-flex">
              <span sigmaTranslate="sigmaEventsApp.operationHistory.operationHistoryNewId">Operation History New Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" sigmaSortBy="typeoperation.operationTypeId">
            <div class="d-flex">
              <span sigmaTranslate="sigmaEventsApp.operationHistory.typeoperation">Typeoperation</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" sigmaSortBy="operationHistoryDate">
            <div class="d-flex">
              <span sigmaTranslate="sigmaEventsApp.operationHistory.operationHistoryDate">Operation History Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" sigmaSortBy="operationHistoryAttributs">
            <div class="d-flex">
              <span sigmaTranslate="sigmaEventsApp.operationHistory.operationHistoryAttributs">Operation History Attributs</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" sigmaSortBy="operationHistoryUserID">
            <div class="d-flex">
              <span sigmaTranslate="sigmaEventsApp.operationHistory.operationHistoryUserID">Operation History User ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" sigmaSortBy="operationHistoryOldValue">
            <div class="d-flex">
              <span sigmaTranslate="sigmaEventsApp.operationHistory.operationHistoryOldValue">Operation History Old Value</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" sigmaSortBy="operationHistoryNewValue">
            <div class="d-flex">
              <span sigmaTranslate="sigmaEventsApp.operationHistory.operationHistoryNewValue">Operation History New Value</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>

          <th scope="col" sigmaSortBy="operationHistoryImportedFile">
            <div class="d-flex">
              <span sigmaTranslate="sigmaEventsApp.operationHistory.operationHistoryImportedFile">Operation History Imported File</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <!-- <th scope="col" sigmaSortBy="operationHistoryImportedFilePath">
            <div class="d-flex">
              <span sigmaTranslate="sigmaEventsApp.operationHistory.operationHistoryImportedFilePath"
                >Operation History Imported File Path</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th> -->
          <th scope="col" sigmaSortBy="operationHistoryParams">
            <div class="d-flex">
              <span sigmaTranslate="sigmaEventsApp.operationHistory.operationHistoryParams">Operation History Params</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <!-- <th scope="col" sigmaSortBy="operationHistoryStat">
            <div class="d-flex">
              <span sigmaTranslate="sigmaEventsApp.operationHistory.operationHistoryStat">Operation History Stat</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th> -->

          <th scope="col" sigmaSortBy="event.eventId" *sigmaHasAnyAuthority="[authority.ADMIN]">
            <div class="d-flex">
              <span sigmaTranslate="sigmaEventsApp.operationHistory.event">Event</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" *sigmaHasAnyAuthority="[authority.ADMIN]"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let operationHistory of operationHistories; trackBy: trackOperationHistoryId" data-cy="entityTable">
          <td>
            {{ operationHistory.operationHistoryId }}
          </td>
          <td>{{ operationHistory.operationHistoryDescription }}</td>
          <td>
            <div *ngIf="operationHistory.operationHistoryOldId && operationHistory.operationHistoryDescription == Entity.Accreditation">
              <a [routerLink]="['/accreditation-sig', operationHistory.operationHistoryOldId, 'view']">{{
                operationHistory.operationHistoryOldId
              }}</a>
            </div>
            <div *ngIf="!operationHistory.operationHistoryOldId || operationHistory.operationHistoryDescription != Entity.Accreditation">
              {{ operationHistory.operationHistoryOldId }}
            </div>
          </td>

          <td>
            <div *ngIf="operationHistory.operationHistoryNewId && operationHistory.operationHistoryDescription == Entity.Accreditation">
              <a [routerLink]="['/accreditation-sig', operationHistory.operationHistoryNewId, 'view']">{{
                operationHistory.operationHistoryNewId
              }}</a>
            </div>
            <div *ngIf="!operationHistory.operationHistoryNewId || operationHistory.operationHistoryDescription != Entity.Accreditation">
              {{ operationHistory.operationHistoryNewId }}
            </div>
          </td>
          <td>
            <div *ngIf="operationHistory.typeoperation">
              {{ operationHistory.typeoperation.operationTypeValue }}
            </div>
          </td>
          <td>{{ operationHistory.operationHistoryDate | formatMediumDatetime }}</td>
          <td>{{ operationHistory.operationHistoryAttributs }}</td>
          <td>{{ operationHistory.operationHistoryUserID }}</td>
          <td>{{ operationHistory.operationHistoryOldValue }}</td>
          <td>{{ operationHistory.operationHistoryNewValue }}</td>
          <td>{{ operationHistory.operationHistoryImportedFile }}</td>
          <!-- <td>{{ operationHistory.operationHistoryImportedFilePath }}</td> -->
          <td>{{ operationHistory.operationHistoryParams }}</td>
          <!-- <td>{{ operationHistory.operationHistoryStat | yesNo }}</td> -->
          <td *sigmaHasAnyAuthority="[authority.ADMIN]">
            <div *ngIf="operationHistory.event">
              <a [routerLink]="['/event-sig', operationHistory.event.eventId, 'view']">{{ operationHistory.event.eventName }}</a>
            </div>
          </td>
          <td class="text-end" *sigmaHasAnyAuthority="[authority.ADMIN]">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/operation-history-sig', operationHistory.operationHistoryId, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" sigmaTranslate="entity.action.view">View</span>
              </button>

              <!-- <button
                type="submit"
                [routerLink]="['/operation-history-sig', operationHistory.operationHistoryId, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" sigmaTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(operationHistory)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" sigmaTranslate="entity.action.delete">Delete</span>
              </button> -->
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="operationHistories && operationHistories.length > 0">
    <div class="d-flex justify-content-center">
      <sigma-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></sigma-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
