<div>
  <h2 id="page-heading" data-cy="CheckAccreditationHistoryHeading">
    <span sigmaTranslate="sigmaEventsApp.checkAccreditationHistory.home.title">Check Accreditation Histories</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span sigmaTranslate="sigmaEventsApp.checkAccreditationHistory.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-check-accreditation-history-sig"
        [routerLink]="['/check-accreditation-history-sig/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span sigmaTranslate="sigmaEventsApp.checkAccreditationHistory.home.createLabel"> Create a new Check Accreditation History </span>
      </button>
    </div>
  </h2>

  <sigma-alert-error></sigma-alert-error>

  <sigma-alert></sigma-alert>

  <sigma-filter [filters]="filters"></sigma-filter>

  <div class="alert alert-warning" id="no-result" *ngIf="checkAccreditationHistories?.length === 0">
    <span sigmaTranslate="sigmaEventsApp.checkAccreditationHistory.home.notFound">No Check Accreditation Histories found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="checkAccreditationHistories && checkAccreditationHistories.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr sigmaSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" sigmaSortBy="checkAccreditationHistoryId">
            <div class="d-flex">
              <span sigmaTranslate="sigmaEventsApp.checkAccreditationHistory.checkAccreditationHistoryId"
                >Check Accreditation History Id</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" sigmaSortBy="checkAccreditationHistoryReadedCode">
            <div class="d-flex">
              <span sigmaTranslate="sigmaEventsApp.checkAccreditationHistory.checkAccreditationHistoryReadedCode"
                >Check Accreditation History Readed Code</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" sigmaSortBy="checkAccreditationHistoryUserId">
            <div class="d-flex">
              <span sigmaTranslate="sigmaEventsApp.checkAccreditationHistory.checkAccreditationHistoryUserId"
                >Check Accreditation History User Id</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" sigmaSortBy="checkAccreditationHistoryResult">
            <div class="d-flex">
              <span sigmaTranslate="sigmaEventsApp.checkAccreditationHistory.checkAccreditationHistoryResult"
                >Check Accreditation History Result</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" sigmaSortBy="checkAccreditationHistoryError">
            <div class="d-flex">
              <span sigmaTranslate="sigmaEventsApp.checkAccreditationHistory.checkAccreditationHistoryError"
                >Check Accreditation History Error</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" sigmaSortBy="checkAccreditationHistoryDate">
            <div class="d-flex">
              <span sigmaTranslate="sigmaEventsApp.checkAccreditationHistory.checkAccreditationHistoryDate"
                >Check Accreditation History Date</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" sigmaSortBy="checkAccreditationHistoryLocalisation">
            <div class="d-flex">
              <span sigmaTranslate="sigmaEventsApp.checkAccreditationHistory.checkAccreditationHistoryLocalisation"
                >Check Accreditation History Localisation</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" sigmaSortBy="checkAccreditationHistoryIpAdresse">
            <div class="d-flex">
              <span sigmaTranslate="sigmaEventsApp.checkAccreditationHistory.checkAccreditationHistoryIpAdresse"
                >Check Accreditation History Ip Adresse</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" sigmaSortBy="checkAccreditationParams">
            <div class="d-flex">
              <span sigmaTranslate="sigmaEventsApp.checkAccreditationHistory.checkAccreditationParams">Check Accreditation Params</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" sigmaSortBy="checkAccreditationAttributs">
            <div class="d-flex">
              <span sigmaTranslate="sigmaEventsApp.checkAccreditationHistory.checkAccreditationAttributs"
                >Check Accreditation Attributs</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" sigmaSortBy="checkAccreditationHistoryStat">
            <div class="d-flex">
              <span sigmaTranslate="sigmaEventsApp.checkAccreditationHistory.checkAccreditationHistoryStat"
                >Check Accreditation History Stat</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" sigmaSortBy="event.eventId">
            <div class="d-flex">
              <span sigmaTranslate="sigmaEventsApp.checkAccreditationHistory.event">Event</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" sigmaSortBy="accreditation.accreditationId">
            <div class="d-flex">
              <span sigmaTranslate="sigmaEventsApp.checkAccreditationHistory.accreditation">Accreditation</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let checkAccreditationHistory of checkAccreditationHistories; trackBy: trackCheckAccreditationHistoryId"
          data-cy="entityTable"
        >
          <td>
            <a [routerLink]="['/check-accreditation-history-sig', checkAccreditationHistory.checkAccreditationHistoryId, 'view']">{{
              checkAccreditationHistory.checkAccreditationHistoryId
            }}</a>
          </td>
          <td>{{ checkAccreditationHistory.checkAccreditationHistoryReadedCode }}</td>
          <td>{{ checkAccreditationHistory.checkAccreditationHistoryUserId }}</td>
          <td>{{ checkAccreditationHistory.checkAccreditationHistoryResult | yesNo }}</td>
          <td>{{ checkAccreditationHistory.checkAccreditationHistoryError }}</td>
          <td>{{ checkAccreditationHistory.checkAccreditationHistoryDate | formatMediumDatetime }}</td>
          <td>{{ checkAccreditationHistory.checkAccreditationHistoryLocalisation }}</td>
          <td>{{ checkAccreditationHistory.checkAccreditationHistoryIpAdresse }}</td>
          <td>{{ checkAccreditationHistory.checkAccreditationParams }}</td>
          <td>{{ checkAccreditationHistory.checkAccreditationAttributs }}</td>
          <td>{{ checkAccreditationHistory.checkAccreditationHistoryStat | yesNo }}</td>
          <td>
            <div *ngIf="checkAccreditationHistory.event">
              <a [routerLink]="['/event-sig', checkAccreditationHistory.event.eventId, 'view']">{{
                checkAccreditationHistory.event.eventName
              }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="checkAccreditationHistory.accreditation">
              <a [routerLink]="['/accreditation-sig', checkAccreditationHistory.accreditation.accreditationId, 'view']">{{
                checkAccreditationHistory.accreditation.accreditationId
              }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/check-accreditation-report-sig']"
                [queryParams]="{ 'filter[checkAccreditationHistoryId.in]': checkAccreditationHistory.checkAccreditationHistoryId }"
                class="btn btn-info btn-sm"
                data-cy="filterOtherEntityButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span
                  class="d-none d-md-inline"
                  sigmaTranslate="entity.action.show"
                  [translateValues]="{ otherEntity: ('sigmaEventsApp.checkAccreditationHistory.checkAccreditationReport' | translate) }"
                  >Show Check Accreditation Report</span
                >
              </button>
              <button
                type="submit"
                [routerLink]="['/check-accreditation-history-sig', checkAccreditationHistory.checkAccreditationHistoryId, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" sigmaTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/check-accreditation-history-sig', checkAccreditationHistory.checkAccreditationHistoryId, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" sigmaTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(checkAccreditationHistory)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" sigmaTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="checkAccreditationHistories && checkAccreditationHistories.length > 0">
    <div class="d-flex justify-content-center">
      <sigma-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></sigma-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
