<div>
  <h2 id="page-heading" data-cy="AccreditationHeading">
    <span sigmaTranslate="sigmaEventsApp.accreditation.home.title">Accreditations</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span sigmaTranslate="sigmaEventsApp.accreditation.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-accreditation-sig"
        [routerLink]="['/accreditation-sig/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span sigmaTranslate="sigmaEventsApp.accreditation.home.createLabel"> Create a new Accreditation </span>
      </button>
    </div>
  </h2>

  <sigma-alert-error></sigma-alert-error>

  <sigma-alert></sigma-alert>

  <sigma-filter [filters]="filters"></sigma-filter>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 mb-2">
        <div class="input-group">
          <input
            class="form-control search-input"
            type="text"
            name="search"
            [(ngModel)]="searchText"
            autocomplete="off"
            placeholder="{{ 'sigmaEventsApp.accreditation.search.placeHolder' | translate }}"
            (keyup)="search()"
          />
          <div class="input-group-append">
            <span class="input-group-text search-input-icon" *ngIf="searchLoading">
              <fa-icon [icon]="faSpinner" [spin]="true"></fa-icon>
            </span>
            <span class="input-group-text search-input-icon" *ngIf="!searchLoading">
              <fa-icon [icon]="['fas', 'search']"></fa-icon>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="alert alert-warning" id="no-result" *ngIf="accreditations?.length === 0">
    <span sigmaTranslate="sigmaEventsApp.accreditation.home.notFound">No Accreditations found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="accreditations && accreditations.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr sigmaSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" sigmaSortBy="accreditationId">
            <div class="d-flex">
              <span sigmaTranslate="sigmaEventsApp.accreditation.accreditationId">Accreditation Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" sigmaSortBy="accreditationPhoto">
            <div class="d-flex">
              <span sigmaTranslate="sigmaEventsApp.accreditation.accreditationPhoto">Accreditation Photo</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" sigmaSortBy="civility.civilityId">
            <div class="d-flex">
              <span sigmaTranslate="sigmaEventsApp.accreditation.civility">Civility</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" sigmaSortBy="accreditationFirstName">
            <div class="d-flex">
              <span sigmaTranslate="sigmaEventsApp.accreditation.accreditationFirstName">Accreditation First Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" sigmaSortBy="accreditationSecondName">
            <div class="d-flex">
              <span sigmaTranslate="sigmaEventsApp.accreditation.accreditationSecondName">Accreditation Second Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" sigmaSortBy="accreditationLastName">
            <div class="d-flex">
              <span sigmaTranslate="sigmaEventsApp.accreditation.accreditationLastName">Accreditation Last Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" sigmaSortBy="accreditationBirthDay">
            <div class="d-flex">
              <span sigmaTranslate="sigmaEventsApp.accreditation.accreditationBirthDay">Accreditation Birth Day</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" sigmaSortBy="accreditationSexe" *sigmaHasAnyAuthority="[authority.ADMIN]">
            <div class="d-flex">
              <span sigmaTranslate="sigmaEventsApp.accreditation.accreditationSexe">Accreditation Sexe</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" sigmaSortBy="accreditationOccupation">
            <div class="d-flex">
              <span sigmaTranslate="sigmaEventsApp.accreditation.accreditationOccupation">Accreditation Occupation</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" sigmaSortBy="nationality.nationalityId">
            <div class="d-flex">
              <span sigmaTranslate="sigmaEventsApp.accreditation.nationality">Nationality</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" sigmaSortBy="country.countryId" *sigmaHasAnyAuthority="[authority.ADMIN]">
            <div class="d-flex">
              <span sigmaTranslate="sigmaEventsApp.accreditation.country">Country</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" sigmaSortBy="city.cityId" *sigmaHasAnyAuthority="[authority.ADMIN]">
            <div class="d-flex">
              <span sigmaTranslate="sigmaEventsApp.accreditation.city">City</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" sigmaSortBy="category.categoryId">
            <div class="d-flex">
              <span sigmaTranslate="sigmaEventsApp.accreditation.category">Category</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" sigmaSortBy="fonction.fonctionId">
            <div class="d-flex">
              <span sigmaTranslate="sigmaEventsApp.accreditation.fonction">Fonction</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" sigmaSortBy="organiz.organizId">
            <div class="d-flex">
              <span sigmaTranslate="sigmaEventsApp.accreditation.organiz">Organiz</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" sigmaSortBy="accreditationType.accreditationTypeId">
            <div class="d-flex">
              <span sigmaTranslate="sigmaEventsApp.accreditation.accreditationType">Accreditation Type</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" sigmaSortBy="status.statusId">
            <div class="d-flex">
              <span sigmaTranslate="sigmaEventsApp.accreditation.status">Status</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" sigmaSortBy="accreditationDescription" *sigmaHasAnyAuthority="[authority.ADMIN]">
            <div class="d-flex">
              <span sigmaTranslate="sigmaEventsApp.accreditation.accreditationDescription">Accreditation Description</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" sigmaSortBy="accreditationEmail">
            <div class="d-flex">
              <span sigmaTranslate="sigmaEventsApp.accreditation.accreditationEmail">Accreditation Email</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" sigmaSortBy="accreditationTel">
            <div class="d-flex">
              <span sigmaTranslate="sigmaEventsApp.accreditation.accreditationTel">Accreditation Tel</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" sigmaSortBy="accreditationCinId">
            <div class="d-flex">
              <span sigmaTranslate="sigmaEventsApp.accreditation.accreditationCinId">Accreditation Cin Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" sigmaSortBy="accreditationPasseportId">
            <div class="d-flex">
              <span sigmaTranslate="sigmaEventsApp.accreditation.accreditationPasseportId">Accreditation Passeport Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" sigmaSortBy="accreditationCartePresseId">
            <div class="d-flex">
              <span sigmaTranslate="sigmaEventsApp.accreditation.accreditationCartePresseId">Accreditation Carte Presse Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" sigmaSortBy="accreditationCarteProfessionnelleId">
            <div class="d-flex">
              <span sigmaTranslate="sigmaEventsApp.accreditation.accreditationCarteProfessionnelleId"
                >Accreditation Carte Professionnelle Id</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" sigmaSortBy="accreditationCreationDate">
            <div class="d-flex">
              <span sigmaTranslate="sigmaEventsApp.accreditation.accreditationCreationDate">Accreditation Creation Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" sigmaSortBy="accreditationCreatedByuser">
            <div class="d-flex">
              <span sigmaTranslate="sigmaEventsApp.accreditation.accreditationCreatedByuser">Accreditation Created Byuser</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" sigmaSortBy="accreditationUpdateDate">
            <div class="d-flex">
              <span sigmaTranslate="sigmaEventsApp.accreditation.accreditationUpdateDate">Accreditation Update Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" sigmaSortBy="accreditationUpdatedByuser">
            <div class="d-flex">
              <span sigmaTranslate="sigmaEventsApp.accreditation.accreditationUpdatedByuser">Accreditation Updated Byuser</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" sigmaSortBy="accreditationPrintDate">
            <div class="d-flex">
              <span sigmaTranslate="sigmaEventsApp.accreditation.accreditationPrintDate">Accreditation Print Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" sigmaSortBy="accreditationPrintedByuser">
            <div class="d-flex">
              <span sigmaTranslate="sigmaEventsApp.accreditation.accreditationPrintedByuser">Accreditation Printed Byuser</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" sigmaSortBy="accreditationDateStart">
            <div class="d-flex">
              <span sigmaTranslate="sigmaEventsApp.accreditation.accreditationDateStart">Accreditation Date Start</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" sigmaSortBy="accreditationDateEnd">
            <div class="d-flex">
              <span sigmaTranslate="sigmaEventsApp.accreditation.accreditationDateEnd">Accreditation Date End</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" sigmaSortBy="accreditationPrintStat">
            <div class="d-flex">
              <span sigmaTranslate="sigmaEventsApp.accreditation.accreditationPrintStat">Accreditation Print Stat</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" sigmaSortBy="accreditationPrintNumber" *sigmaHasAnyAuthority="[authority.ADMIN]">
            <div class="d-flex">
              <span sigmaTranslate="sigmaEventsApp.accreditation.accreditationPrintNumber">Accreditation Print Number</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" sigmaSortBy="accreditationParams" *sigmaHasAnyAuthority="[authority.ADMIN]">
            <div class="d-flex">
              <span sigmaTranslate="sigmaEventsApp.accreditation.accreditationParams">Accreditation Params</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" sigmaSortBy="accreditationAttributs" *sigmaHasAnyAuthority="[authority.ADMIN]">
            <div class="d-flex">
              <span sigmaTranslate="sigmaEventsApp.accreditation.accreditationAttributs">Accreditation Attributs</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" sigmaSortBy="accreditationStat">
            <div class="d-flex">
              <span sigmaTranslate="sigmaEventsApp.accreditation.accreditationStat">Accreditation Stat</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" sigmaSortBy="accreditationActivated">
            <div class="d-flex">
              <span sigmaTranslate="sigmaEventsApp.accreditation.accreditationActivated">Accreditation Activated</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" sigmaSortBy="sexe.sexeId" *sigmaHasAnyAuthority="[authority.ADMIN]">
            <div class="d-flex">
              <span sigmaTranslate="sigmaEventsApp.accreditation.sexe">Sexe</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" sigmaSortBy="attachement.attachementId">
            <div class="d-flex">
              <span sigmaTranslate="sigmaEventsApp.accreditation.attachement">Attachement</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" sigmaSortBy="code.codeId">
            <div class="d-flex">
              <span sigmaTranslate="sigmaEventsApp.accreditation.code">Code</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" sigmaSortBy="dayPassInfo.dayPassInfoId">
            <div class="d-flex">
              <span sigmaTranslate="sigmaEventsApp.accreditation.dayPassInfo">Day Pass Info</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" sigmaSortBy="event.eventId" *sigmaHasAnyAuthority="[authority.ADMIN]">
            <div class="d-flex">
              <span sigmaTranslate="sigmaEventsApp.accreditation.event">Event</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let accreditation of accreditations; trackBy: trackAccreditationId"
          data-cy="entityTable"
          [style.background]="accreditation.status?.statusColor"
        >
          <td>
            <a [routerLink]="['/accreditation-sig', accreditation.accreditationId, 'view']">{{ accreditation.accreditationId }}</a>
          </td>
          <td>
            <a
              *ngIf="accreditation.accreditationPhoto"
              (click)="openFile(accreditation.accreditationPhoto, accreditation.accreditationPhotoContentType)"
            >
              <img
                [src]="'data:' + accreditation.accreditationPhotoContentType + ';base64,' + accreditation.accreditationPhoto"
                style="max-height: 30px"
                alt="accreditation image"
              />
            </a>
            <span *ngIf="accreditation.accreditationPhoto"
              >{{ accreditation.accreditationPhotoContentType }}, {{ byteSize(accreditation.accreditationPhoto) }}</span
            >
          </td>
          <td>
            <div *ngIf="accreditation.civility">
              <div *ngIf="this.accountService.hasAnyAuthority(authority.ADMIN)">
                <a [routerLink]="['/civility-sig', accreditation.civility.civilityId, 'view']">{{ accreditation.civility.civilityCode }}</a>
              </div>
              <div *ngIf="!this.accountService.hasAnyAuthority(authority.ADMIN)">{{ accreditation.civility.civilityCode }}</div>
            </div>
          </td>
          <td>{{ accreditation.accreditationFirstName }}</td>
          <td>{{ accreditation.accreditationSecondName }}</td>
          <td>{{ accreditation.accreditationLastName }}</td>
          <td>{{ accreditation.accreditationBirthDay | formatMediumDate }}</td>
          <td *sigmaHasAnyAuthority="[authority.ADMIN]">{{ accreditation.accreditationSexe }}</td>
          <td>{{ accreditation.accreditationOccupation }}</td>
          <td>
            <div *ngIf="accreditation.nationality">
              <div *ngIf="this.accountService.hasAnyAuthority(authority.ADMIN)">
                <a [routerLink]="['/nationality-sig', accreditation.nationality.nationalityId, 'view']">{{
                  accreditation.nationality.nationalityValue
                }}</a>
              </div>
              <div *ngIf="!this.accountService.hasAnyAuthority(authority.ADMIN)">{{ accreditation.nationality.nationalityValue }}</div>
            </div>
          </td>
          <td *sigmaHasAnyAuthority="[authority.ADMIN]">
            <div *ngIf="accreditation.country">
              <a [routerLink]="['/country-sig', accreditation.country.countryId, 'view']">{{ accreditation.country.countryName }}</a>
            </div>
          </td>
          <td *sigmaHasAnyAuthority="[authority.ADMIN]">
            <div *ngIf="accreditation.city">
              <a [routerLink]="['/city-sig', accreditation.city.cityId, 'view']">{{ accreditation.city.cityName }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="accreditation.category">
              <div *ngIf="this.accountService.hasAnyAuthority([authority.ADMIN, authority.EVENT_ADMIN])">
                <a [routerLink]="['/category-sig', accreditation.category.categoryId, 'view']">{{ accreditation.category.categoryName }}</a>
              </div>
              <div *ngIf="!this.accountService.hasAnyAuthority([authority.ADMIN, authority.EVENT_ADMIN])">
                {{ accreditation.category.categoryName }}
              </div>
            </div>
          </td>
          <td>
            <div *ngIf="accreditation.fonction">
              <div *ngIf="this.accountService.hasAnyAuthority([authority.ADMIN, authority.EVENT_ADMIN])">
                <a [routerLink]="['/fonction-sig', accreditation.fonction.fonctionId, 'view']">{{ accreditation.fonction.fonctionName }}</a>
              </div>
              <div *ngIf="!this.accountService.hasAnyAuthority([authority.ADMIN, authority.EVENT_ADMIN])">
                {{ accreditation.fonction.fonctionName }}
              </div>
            </div>
          </td>
          <td>
            <div *ngIf="accreditation.organiz">
              <div *ngIf="this.accountService.hasAnyAuthority([authority.ADMIN, authority.EVENT_ADMIN])">
                <a [routerLink]="['/organiz-sig', accreditation.organiz.organizId, 'view']">{{ accreditation.organiz.organizName }}</a>
              </div>
              <div *ngIf="!this.accountService.hasAnyAuthority([authority.ADMIN, authority.EVENT_ADMIN])">
                {{ accreditation.organiz.organizName }}
              </div>
            </div>
          </td>
          <td>
            <div *ngIf="accreditation.accreditationType">
              <div *ngIf="this.accountService.hasAnyAuthority(authority.ADMIN)">
                <a [routerLink]="['/accreditation-type-sig', accreditation.accreditationType.accreditationTypeId, 'view']">{{
                  accreditation.accreditationType.accreditationTypeValue
                }}</a>
              </div>
              <div *ngIf="!this.accountService.hasAnyAuthority(authority.ADMIN)">
                {{ accreditation.accreditationType.accreditationTypeValue }}
              </div>
            </div>
          </td>
          <td>
            <div *ngIf="accreditation.status">
              <div *ngIf="this.accountService.hasAnyAuthority(authority.ADMIN)">
                <a [routerLink]="['/status-sig', accreditation.status.statusId, 'view']">{{ accreditation.status.statusName }}</a>
              </div>
              <div *ngIf="!this.accountService.hasAnyAuthority(authority.ADMIN)">{{ accreditation.status.statusName }}</div>
            </div>
          </td>
          <td *sigmaHasAnyAuthority="[authority.ADMIN]">{{ accreditation.accreditationDescription }}</td>
          <td>{{ accreditation.accreditationEmail }}</td>
          <td>{{ accreditation.accreditationTel }}</td>
          <td>{{ accreditation.accreditationCinId }}</td>
          <td>{{ accreditation.accreditationPasseportId }}</td>
          <td>{{ accreditation.accreditationCartePresseId }}</td>
          <td>{{ accreditation.accreditationCarteProfessionnelleId }}</td>
          <td>{{ accreditation.accreditationCreationDate | formatMediumDatetime }}</td>
          <td>{{ accreditation.accreditationCreatedByuser }}</td>
          <td>{{ accreditation.accreditationUpdateDate | formatMediumDatetime }}</td>
          <td>{{ accreditation.accreditationUpdatedByuser }}</td>
          <td>{{ accreditation.accreditationPrintDate | formatMediumDatetime }}</td>
          <td>{{ accreditation.accreditationPrintedByuser }}</td>
          <td>{{ accreditation.accreditationDateStart | formatMediumDatetime }}</td>
          <td>{{ accreditation.accreditationDateEnd | formatMediumDatetime }}</td>
          <td>{{ accreditation.accreditationPrintStat | yesNo }}</td>
          <td *sigmaHasAnyAuthority="[authority.ADMIN]">{{ accreditation.accreditationPrintNumber }}</td>
          <td *sigmaHasAnyAuthority="[authority.ADMIN]">{{ accreditation.accreditationParams }}</td>
          <td *sigmaHasAnyAuthority="[authority.ADMIN]">{{ accreditation.accreditationAttributs }}</td>
          <td>{{ accreditation.accreditationStat | yesNo }}</td>
          <td>{{ accreditation.accreditationActivated | yesNo }}</td>
          <td *sigmaHasAnyAuthority="[authority.ADMIN]">
            <div *ngIf="accreditation.sexe">
              <a [routerLink]="['/sexe-sig', accreditation.sexe.sexeId, 'view']">{{ accreditation.sexe.sexeValue }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="accreditation.attachement">
              <div *ngIf="this.accountService.hasAnyAuthority([authority.ADMIN, authority.EVENT_ADMIN, authority.CAN_ACC_SHOW_ARCH_PHOTO])">
                <a [routerLink]="['/attachement-sig', accreditation.attachement.attachementId, 'view']">{{
                  accreditation.attachement.attachementName
                }}</a>
              </div>
              <div
                *ngIf="!this.accountService.hasAnyAuthority([authority.ADMIN, authority.EVENT_ADMIN, authority.CAN_ACC_SHOW_ARCH_PHOTO])"
              >
                <a [routerLink]="['/attachement-sig', accreditation.attachement.attachementId, 'view']">{{
                  accreditation.attachement.attachementName
                }}</a>
              </div>
            </div>
          </td>
          <td>
            <div *ngIf="accreditation.code">
              <div *ngIf="this.accountService.hasAnyAuthority([authority.ADMIN, authority.EVENT_ADMIN])">
                <a [routerLink]="['/code-sig', accreditation.code.codeId, 'view']">{{ accreditation.code.codeValue }}</a>
              </div>
              <div *ngIf="!this.accountService.hasAnyAuthority([authority.ADMIN, authority.EVENT_ADMIN])">
                {{ accreditation.code.codeValue }}
              </div>
            </div>
          </td>
          <td>
            <div *ngIf="accreditation.dayPassInfo">
              <div *ngIf="this.accountService.hasAnyAuthority([authority.ADMIN, authority.EVENT_ADMIN])">
                <a [routerLink]="['/day-pass-info-sig', accreditation.dayPassInfo.dayPassInfoId, 'view']">{{
                  accreditation.dayPassInfo.dayPassInfoName
                }}</a>
              </div>
              <div *ngIf="!this.accountService.hasAnyAuthority([authority.ADMIN, authority.EVENT_ADMIN])">
                <a [routerLink]="['/day-pass-info-sig', accreditation.dayPassInfo.dayPassInfoId, 'view']">{{
                  accreditation.dayPassInfo.dayPassInfoName
                }}</a>
              </div>
            </div>
          </td>
          <td *sigmaHasAnyAuthority="[authority.ADMIN]">
            <div *ngIf="accreditation.event">
              <a [routerLink]="['/event-sig', accreditation.event.eventId, 'view']">{{ accreditation.event.eventName }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                *sigmaHasAnyAuthority="[authority.ADMIN, authority.EVENT_ADMIN, authority.CAN_ACC_SHOW_ARCH_PHOTO]"
                type="submit"
                [routerLink]="['/photo-archive-sig']"
                [queryParams]="{ 'filter[accreditationId.in]': accreditation.accreditationId }"
                class="btn btn-info btn-sm"
                data-cy="filterOtherEntityButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span
                  class="d-none d-md-inline"
                  sigmaTranslate="entity.action.show"
                  [translateValues]="{ otherEntity: ('sigmaEventsApp.accreditation.photoArchive' | translate) }"
                  >Show Photo Archive</span
                >
              </button>
              <button
                *sigmaHasAnyAuthority="[authority.ADMIN, authority.EVENT_ADMIN, authority.CAN_ACC_SHOW_INFOSUP]"
                type="submit"
                [routerLink]="['/info-supp-sig']"
                [queryParams]="{ 'filter[accreditationId.in]': accreditation.accreditationId }"
                class="btn btn-info btn-sm"
                data-cy="filterOtherEntityButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span
                  class="d-none d-md-inline"
                  sigmaTranslate="entity.action.show"
                  [translateValues]="{ otherEntity: ('sigmaEventsApp.accreditation.infoSupp' | translate) }"
                  >Show Info Supp</span
                >
              </button>
              <button
                *sigmaHasAnyAuthority="[authority.ADMIN, authority.EVENT_ADMIN, authority.CAN_ACC_SHOW_NOTES]"
                type="submit"
                [routerLink]="['/note-sig']"
                [queryParams]="{ 'filter[accreditationId.in]': accreditation.accreditationId }"
                class="btn btn-info btn-sm"
                data-cy="filterOtherEntityButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span
                  class="d-none d-md-inline"
                  sigmaTranslate="entity.action.show"
                  [translateValues]="{ otherEntity: ('sigmaEventsApp.accreditation.note' | translate) }"
                  >Show Note</span
                >
              </button>
              <button
                *sigmaHasAnyAuthority="[authority.ADMIN]"
                type="submit"
                [routerLink]="['/check-accreditation-history-sig']"
                [queryParams]="{ 'filter[accreditationId.in]': accreditation.accreditationId }"
                class="btn btn-info btn-sm"
                data-cy="filterOtherEntityButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span
                  class="d-none d-md-inline"
                  sigmaTranslate="entity.action.show"
                  [translateValues]="{ otherEntity: ('sigmaEventsApp.accreditation.checkAccreditationHistory' | translate) }"
                  >Show Check Accreditation History</span
                >
              </button>
              <button
                type="submit"
                [routerLink]="['/accreditation-sig', accreditation.accreditationId, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" sigmaTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/accreditation-sig', accreditation.accreditationId, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" sigmaTranslate="entity.action.edit">Edit</span>
              </button>

              <button
                type="submit"
                (click)="validate(accreditation)"
                class="btn btn-success btn-sm"
                data-cy="entityValidateButton"
                *sigmaHasAnyAuthority="[authority.ADMIN, authority.EVENT_ADMIN, authority.CAN_ACC_VALIDATE]"
              >
                <fa-icon icon="check"></fa-icon>
                <span class="d-none d-md-inline" sigmaTranslate="entity.action.validate">Validate</span>
              </button>

              <button
                type="submit"
                (click)="print(accreditation)"
                class="btn btn-info btn-sm"
                data-cy="entityPrintButton"
                *sigmaHasAnyAuthority="[authority.ADMIN, authority.EVENT_ADMIN, authority.CAN_ACC_PRINT]"
              >
                <fa-icon icon="print"></fa-icon>
                <span class="d-none d-md-inline" sigmaTranslate="entity.action.print">Print</span>
              </button>

              <button
                type="submit"
                (click)="delete(accreditation)"
                class="btn btn-danger btn-sm"
                data-cy="entityDeleteButton"
                *sigmaHasAnyAuthority="[authority.ADMIN, authority.EVENT_ADMIN, authority.CAN_ACC_DELETE]"
              >
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" sigmaTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="accreditations && accreditations.length > 0">
    <div class="d-flex justify-content-center">
      <sigma-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></sigma-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
